<%- include('partials/header'); -%>


<!-- ADD EXPENSES -->
    
<section>
  <div class="main-container slide-in">
     <div class="add-expenses">
      <h3><i class="fas fa-receipt"></i> Add New Expense</h3>
      <form action="/expense" method="post" id="expense-form">

        <select name="profile" id="profile" required >
          <option value="">Select Profile</option>
          <% Profiles.forEach((found) => { %>
            <option value="<%= found.name %>, <%= found.budget %>, <%= found._id %> "> <%= found.name %> </option>
          <% }) %>
        </select> 

        <select name="expenseType" id="expense-type" required>
          <option value="">Select Expense Type</option>
          <option value="food"><i class="fas fa-utensils"></i> Food</option>
          <option value="travel"><i class="fas fa-plane"></i> Travel</option>
          <option value="shopping"><i class="fas fa-shopping-cart"></i> Shopping</option>
          <option value="other"><i class="fas fa-ellipsis-h"></i> Other</option>
        </select>

        <input type="date" name="date" id="date" required>
        
        <div class="money-input">
          <input type="number" name="amount" id="amount" placeholder="Enter Amount" required>
        </div>
        
        <textarea name="description" id="description" placeholder="Description"></textarea>
        
        <button class="btn" type="submit"><i class="fas fa-plus-circle"></i> Add Expense</button>
      </form>
     </div>


     <div class="main-expense-list">
       
      <% Expense.forEach((found) => { %>
         <form action="/delete" method="post">

          <div class="expense-list ">
            <h2><i class="fas fa-user-circle"></i> <%= found.profile %></h2>
            <h4><i class="fas fa-dollar-sign"></i> Amount: <%= found.price %></h4>
            <h4><i class="fas fa-calendar-alt"></i> ON <%= found.date %></h4>
            <h4><i class="fas fa-shopping-cart"></i> For <%= found.expense %> </h4>
            <h4><i class="fas fa-info-circle"></i> <%= found.des %></h4>
              <br>  
            <button class="btn delete-btn " name="id" value="<%= found._id %> "><i class="fas fa-trash-alt"></i> Delete</button>
           </div>                    

         </form>
      <% }) %>

     </div>

  </div>
</section>

<%- include ("partials/footer"); %>
